{% extends 'Base.html' %} {% block content %}

<h3>Description for Image to be Generated</h3>

<form method="post" autocomplete="off">
  {% csrf_token %}
  <input type="text" class="form-control" name="user_input" />
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
<br />

{% if object %}
<div>
  {{object.text}}
  {% comment %} {{object.generated_image.url}} {% endcomment %}
  <br>
  <img src="{{object.generated_image.url}}"/>
</div>

{% endif %} {% endblock content %}
